@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-custom-orange: #fd5426;
    --color-custom-blue: #1800ad;
}

:root {
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply font-poppins font-light text-sm;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    @apply text-3xl;
    line-height: 2;
}

p {
    @apply mb-9;
}

nav a:hover {
    @apply text-custom-orange;
}
